[defaults]
inventory = inventory/localhost.yml
host_key_checking = false
retry_files_enabled = false
callbacks_enabled = timer

[defaults:callback_default]
result_format = yaml

[inventory]
enable_plugins = yaml, auto
